{% extends './includes/base.html' %}

{% block content %}
<div class="page-inner">
    <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4">
        <div>
            <h3 class="fw-bold mb-3">Manage Category Information</h3>
            <h6 class="op-7 mb-2">Manage category here</h6>
        </div>
        <div class="ms-md-auto py-2 py-md-0">
            <a href="{% url 'add_category' %}" class="btn btn-primary btn-round">Create Category</a>
        </div>
    </div>
    {% include './includes/message.html' %}
    <div class="card py-3">
        <table class="table" id="datatable">
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Date Added</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for category in categories %}
                <tr>
                    <td>{{ category.category }}</td>
                    <td>{{ category.date_added }}</td>
                    <td class="d-flex align-items-left justify-content-start gap-2">
                        <a href="{% url 'update_category' pk=category.id %}">
                            <i class="fas fa-pen"></i>
                        </a>
                        <a href="{% url 'delete_category' pk=category.id %}">
                            <i class="fas fa-trash text-danger"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
