{% extends './includes/auth_base.html' %}
{% load static %}
{% block auth_content %}
<div class="container container-login animated fadeIn">
    <div class="d-flex align-items-center justify-content-center">
        <img src="{% static 'assets/img/explore_kabacan.png' %}" width="70%" height="100%" alt="Kabacan Logo" class="text-center">
    </div>
    <h3 class="text-center mt-3">Sign Up</h3>
    {% include './includes/message.html' %}
    <form method="post">
        {% csrf_token %}
        <div class="login-form">
            <div class="form-sub">
                <div class="row">
                    <div class="col">
                        <div class="form-floating form-floating-custom mb-3">
                            {{ form.first_name }}
                            <label for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating form-floating-custom mb-3">
                            {{ form.last_name }}
                            <label for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}</label>
                        </div>
                    </div>
                </div>

                {% for input in form %}
                    {% if input.id_for_label != 'id_first_name' and input.id_for_label != 'id_last_name' %}
                    <div class="form-floating form-floating-custom mb-3">
                        {{ input }}
                        <label for="{{ input.id_for_label }}" style="color: black !important;">{{ input.label }}</label>
                        {% if input.id_for_label == 'id_password1' or input.id_for_label == 'id_password2' %}
                        <div class="show-password">
                            <i class="icon-eye"></i>
                        </div>
                        {% endif %}
                    </div>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="row form-sub m-0">
                <div class="form-check">
                    <input
                        type="checkbox"
                        class="form-check-input"
                        name="agree"
                        id="agree"
                        checked
                    >
                    <label class="form-check-label" for="agree">I Agree the terms and conditions.</label>
                </div>
            </div>

            <button type="submit" class="btn btn-primary w-100 btn-login">Sign Up</button>

            <div class="login-account">
                <span class="msg">Already have an account ?</span>
                <a href="{% url 'login' %}" class="link">Sign In</a>
            </div>
            <div class="login-account">
                <span class="msg">Are your a tourist?</span>
                <a href="{% url 'visitor_tourist_create' %}" class="link">Click here</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}
