{% extends './includes/base.html' %}

{% block content %}
<div class="page-inner">
    <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4">
        <div>
            <h3 class="fw-bold mb-3">Tourist</h3>
            <h6 class="op-7 mb-2">Manage tourist here</h6>
        </div>
        <div class="ms-md-auto py-2 py-md-0">
            <a href="#" class="btn btn-primary btn-round">Create Tourist</a>
        </div>
    </div>

    <div class="card py-3">
        <table class="table" id="datatable">
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Date Added</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Testing Category</td>
                    <td>Testing Category</td>
                    <td>Testing Category</td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>
{% endblock %}
