{% load static %}
<div class="sidebar" data-background-color="dark">
    <div class="sidebar-logo">
        <div class="logo-header" data-background-color="dark">
            <a href="#" class="logo d-flex justify-content-center align-items-center">
                <img
                    src="{% static 'assets/img/EXPLORE KABACAN.svg' %}"
                    alt="navbar brand"
                    class="navbar-brand mt-3 mr-4"
                    height="90%"
                    width="100%"
                    style="object-fit: cover;"
                >
            </a>
            <div class="nav-toggle">
                <button class="btn btn-toggle toggle-sidebar">
                    <i class="gg-menu-right"></i>
                </button>
                <button class="btn btn-toggle sidenav-toggler">
                    <i class="gg-menu-left"></i>
                </button>
            </div>
            <button class="topbar-toggler more">
                <i class="gg-more-vertical-alt"></i>
            </button>
        </div>
    </div>
    {% if request.user.is_superuser and request.user.is_active %}
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <ul class="nav nav-secondary">
                <li class="nav-item {% if 'dashboard' in request.path %}active{% endif %}">
                    <a
                        href="{% url 'dashboard' %}"
                        class="collapsed"
                    >
                        <i class="fas fa-home"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="nav-section">
                    <span class="sidebar-mini-icon">
                        <i class="fa fa-ellipsis-h"></i>
                    </span>
                    <h4 class="text-section">MODULES</h4>
                </li>
                
                <li class="nav-item {% if 'spot' in request.path %}submenu active{% endif %}">
                    <a data-bs-toggle="collapse" href="#tourist" aria-expanded="true">
                        <i class="fas fa-th-list"></i>
                        <p>Tourism Spot</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse {% if 'spot' in request.path %}show{% endif %}" id="tourist">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="{% url 'spot' %}">
                                    <span class="sub-item">Tourist Spot</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'add_spot' %}">
                                    <span class="sub-item">Create Tourist Spot</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item {% if 'category' in request.path %}submenu active{% endif %}">
                    <a data-bs-toggle="collapse" href="#category" aria-expanded="true">
                        <i class="fas fa-th-list"></i>
                        <p>Category</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse  {% if 'category' in request.path %}show{% endif %}" id="category">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="{% url 'category' %}">
                                    <span class="sub-item">Tourist Spot Category</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'add_category' %}">
                                    <span class="sub-item">Create Category</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item {% if 'tourist' in request.path %}submenu active{% endif %}">
                    <a data-bs-toggle="collapse" href="#users" aria-expanded="true">
                        <i class="fas fa-th-list"></i>
                        <p>Tourist</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse {% if 'tourist' in request.path %}show{% endif %}" id="users">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="{% url 'toursit' %}">
                                    <span class="sub-item">Manage Tourist</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'add_tourist' %}">
                                    <span class="sub-item">Create Tourist</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item {% if 'users' in request.path %}submenu active{% endif %}">
                    <a data-bs-toggle="collapse" href="#usermodule" aria-expanded="true">
                        <i class="fas fa-th-list"></i>
                        <p>User</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse {% if 'users' in request.path %}show{% endif %}" id="usermodule">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="{% url 'users' %}">
                                    <span class="sub-item">Manage Users</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'add_user' %}">
                                    <span class="sub-item">Create User</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item {% if 'report' in request.path %}submenu active{% endif %}">
                    <a data-bs-toggle="collapse" href="#report" aria-expanded="true">
                        <i class="fas fa-th-list"></i>
                        <p>Report</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse {% if 'report' in request.path %}show{% endif %}" id="report">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="{% url 'report' %}">
                                    <span class="sub-item">Tourist Report</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

            </ul>
        </div>
    </div>
    {% elif request.user.is_staff and request.user.is_active %}
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <ul class="nav nav-secondary">
                <li class="nav-item {% if 'dashboard' in request.path %}active{% endif %}">
                    <a
                        href="{% url 'dashboard' %}"
                        class="collapsed"
                    >
                        <i class="fas fa-home"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="nav-section">
                    <span class="sidebar-mini-icon">
                        <i class="fa fa-ellipsis-h"></i>
                    </span>
                    <h4 class="text-section">MODULES</h4>
                </li>
                
               
                
                <li class="nav-item {% if 'personel' in request.path %}submenu active{% endif %}">
                    <a data-bs-toggle="collapse" href="#users" aria-expanded="true">
                        <i class="fas fa-th-list"></i>
                        <p>Tourist</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse {% if 'personel' in request.path %}show{% endif %}" id="users">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="{% url 'personel_tourist_create' %}">
                                    <span class="sub-item">Create Tourist</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                
            </ul>
        </div>
    </div>
    {% endif %}
</div>
